@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Diagnostics
@using GUI.Components.Models;
@inject IJSRuntime JsRuntime;

<PageTitle> Snake</PageTitle>

<img @ref="_backgroundImage" id="bgImage" src="/images/images/Earth.png" alt="image" style="display:none;"/>
<img @ref="_wallImage" id="wallImage" src="/images/images/Walls.png" alt="walling" style="display:none;"/>
<img @ref="_powerupImage" id="puImage" src="/images/images/PowerUp.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead1" id="head1Image" src="/images/images/SnakeHead2.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail1" id="Tail1Image" src="/images/images/SnakeTail2.png" alt="image" style="display:none;"/>
<img @ref="_canvasSpaceImg" id="Space" src="/images/images/Space.png" alt="image" style="display:none;"/>

<div id="ConnectionInputs">
    <label> Name: </label>
    <input disabled="@IsDisableInput()" @bind="_name"/>
    <label> Server Address </label>
    <input disabled="@IsDisableInput()" type="text" @bind="_serverAddress"/>
    <label> Port </label>
    <input disabled="@IsDisableInput()" type="number" @bind="_port"/>
    @if (IsConnectedToServer())
    {
        <button @onclick="DisconnectFromServer"> Disconnect</button>
    }
    else
    {
        <button @onclick="ConnectToServer"> Connect</button>
    }
</div>



<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="2000" Height="1000" @ref="_canvasReference"></BECanvas>
</div>

@code
{
    private BECanvasComponent? _canvasReference;
    private Canvas2DContext _context = null!;
    private IJSObjectReference? _jsModule;

    private ElementReference _backgroundImage;
    private ElementReference _powerupImage;
    private ElementReference _snakeHead1;
    private ElementReference _snakeTail1;
    private ElementReference _wallImage;
    private ElementReference _canvasSpaceImg;

    private const int ViewWidth = 1000;
    private const int ViewHeight = 1000;
    private World _copyWorld = new World();
    private int _snakeId;

    /// <summary>
    ///     Initialized the canvas and starts the game loop when finish
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/SnakeGUI.razor.js");
            _context = await _canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));

            // await _context.SetFillStyleAsync("lightblue");
            //await _context.FillRectAsync(0, 0, 1000, 1000);
            await _context.DrawImageAsync(_canvasSpaceImg, 0, 0, 1000, 1000);
            await Task.Delay(500);
            GameLoop();
        }
    }

    /// <summary>
    ///     Handles all the Key Press and send them to the Network Controller
    /// </summary>
    /// <param name="key"></param>
    [JSInvokable]
    public void HandleKeyPress(string key)
    {
        SendKeyCmd(key);
    }

    /// <summary>
    ///     Runs the main game loop asynchronously
    /// </summary>
    private async void GameLoop()
    {
        while (true)
        {
            Thread.Sleep(20);
            await DrawFrame();
        }
    }

    /// <summary>
    ///     Draws a single frame of the game
    ///     -Draws background, Walls, Snakes, and Powerups
    ///     -Centers the View
    /// </summary>
    private async Task DrawFrame()
    {
        World newWorld = ReceiveWorld();
        lock (_copyWorld)
        {
            _copyWorld = newWorld;
        }

        await _context.BeginBatchAsync();
        await _context.ClearRectAsync(0, 0, ViewWidth, ViewHeight);
        // await _context.SetFillStyleAsync("lightblue");
        // await _context.FillRectAsync(0, 0, 1000, 1000);
        await _context.DrawImageAsync(_canvasSpaceImg, 0, 0, 1000, 1000);
        await _context.SaveAsync();
        await _context.BeginPathAsync();
        await _context.RectAsync(0, 0, ViewWidth, ViewHeight);
        await _context.ClipAsync();

        await _context.TranslateAsync(ViewWidth / 2, ViewHeight / 2);
        _snakeId = GetPlayerId();
        if (_copyWorld.Player.TryGetValue(_snakeId, out Player? player))
        {
            if (player.Body.Count > 0)
            {
                int snakeHeadIndex = player.Body.Count - 1;
                Point2D head = player.Body[snakeHeadIndex];
                await _context.TranslateAsync(-head.X, -head.Y);
            }
        }

        await _context.DrawImageAsync(_backgroundImage, -_copyWorld.Size / 2, -_copyWorld.Size / 2, _copyWorld.Size, _copyWorld.Size);
        await DrawWall();
        await DrawPlayer();
        await DrawPowerUps();


        await _context.RestoreAsync();
        await _context.EndBatchAsync();

        await _context.ScaleAsync(1, 1);
        StateHasChanged();
    }

    /// <summary>
    ///     Draws all the Walls
    ///     - Vertical Walls
    ///     - Horizontal Walls
    /// </summary>
    private async Task DrawWall()
    {
        foreach (Walls wall in _copyWorld.Walls.Values)
        {
            await _context.BeginPathAsync();
            if (wall.P1.X == wall.P2.X)
            {
                int start = Math.Min(wall.P1.Y, wall.P2.Y);
                int end = Math.Max(wall.P1.Y, wall.P2.Y);
                int extra = (end - start) % 50;

                for (int i = start; i <= end + extra; i += 50)
                {
                    await _context.DrawImageAsync(_wallImage, wall.P1.X - 25, i - 25, 50, 50);
                }
            }

            if (wall.P1.Y == wall.P2.Y)
            {
                int start = Math.Min(wall.P1.X, wall.P2.X);
                int end = Math.Max(wall.P1.X, wall.P2.X);
                int extra = (end - start) % 50;

                for (int i = start; i <= end + extra; i += 50)
                {
                    await _context.DrawImageAsync(_wallImage, i - 25, wall.P1.Y - 25, 50, 50);
                }
            }
        }
    }

    /// <summary>
    ///     Draws the players
    ///     - Images with rotating heads and tail
    /// </summary>
    private async Task DrawPlayer()
    {
        foreach (Player p in _copyWorld.Player.Values)
        {
            if (p.Alive)
            {
                await _context.SetLineWidthAsync(10);

                int color = p.SnakeiD % 8;
                // switch (color)
                // {
                //     case 0: await _context.SetStrokeStyleAsync($"rgb( 255, 0, 0 )"); break;
                //     case 1: await _context.SetStrokeStyleAsync($"rgb( 0, 255, 0 )"); break;
                //     case 2: await _context.SetStrokeStyleAsync($"rgb( 0, 0, 255 )"); break;
                //     case 3: await _context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )"); break;
                //     case 4: await _context.SetStrokeStyleAsync($"rgb( 0, 255, 255 )"); break;
                //     case 5: await _context.SetStrokeStyleAsync($"rgb( 255, 0, 255 )"); break;
                //     case 6: await _context.SetStrokeStyleAsync($"rgb( 255, 255, 255 )"); break;
                //     case 7: await _context.SetStrokeStyleAsync($"rgb( 0, 0, 0 )"); break;
                // }
                await _context.SetStrokeStyleAsync($"rgb( 0, 0, 0 )");

                await _context.BeginPathAsync();

                Point2D tail = p.Body[0];
                Point2D head = p.Body[p.Body.Count - 1];
                Point2D direction = p.Dir;
                if (direction.Y == -1) //up
                {
                    await DrawRotatedImage(_snakeTail1, tail.X, tail.Y + 15, 20, 20, 0);
                    await DrawRotatedImage(_snakeHead1, head.X, head.Y - 10, 20, 20, 0);
                }
                else if (direction.Y == 1) //Down
                {
                    await DrawRotatedImage(_snakeTail1, tail.X, tail.Y - 10, 20, 20, (float)Math.PI);
                    await DrawRotatedImage(_snakeHead1, head.X, head.Y + 10, 20, 20, (float)Math.PI);
                }
                else if (direction.X == -1) //left
                {
                    await DrawRotatedImage(_snakeTail1, tail.X + 10, tail.Y, 20, 20, (float)-Math.PI / 2);
                    await DrawRotatedImage(_snakeHead1, head.X - 10, head.Y, 20, 20, (float)-Math.PI / 2);
                }
                else if (direction.X == 1) //right
                {
                    await DrawRotatedImage(_snakeTail1, tail.X - 10, tail.Y, 20, 20, (float)Math.PI / 2);
                    await DrawRotatedImage(_snakeHead1, head.X + 10, head.Y, 20, 20, (float)Math.PI / 2);
                }
                else await _context.MoveToAsync(tail.X, tail.Y);

                foreach (Point2D point in p.Body)
                {
                    await _context.LineToAsync(point.X, point.Y);
                }

                await _context.SetFontAsync("16px Arial");
                await _context.SetFillStyleAsync("Black"); // choose text color
                await _context.FillTextAsync($"{p.Name}: {p.Score}", head.X + 10, head.Y - 10);
                await _context.StrokeAsync();
            }
            else
            {
                if (p.SnakeiD == _snakeId)
                {
                    await _context.SetFontAsync("50px Arial");
                    await _context.SetFillStyleAsync("Black"); // choose text color

                    Point2D head = p.Body[p.Body.Count - 1];
                    await _context.FillTextAsync($"You Died ", head.X - 100, head.Y);
                    await _context.StrokeAsync();
                }
            }
        }
    }

    /// <summary>
    ///     Draws the PowerUps
    /// </summary>
    private async Task DrawPowerUps()
    {
        foreach (PowerUp p in _copyWorld.PowerUp.Values)
        {
            Point2D loc = p.Location;

            if (p.Died)
            {
                continue;
            }
            await _context.SetLineWidthAsync(5);
            await _context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )");
            await _context.BeginPathAsync();
            await _context.DrawImageAsync(_powerupImage, loc.X - 10, loc.Y - 5, 16, 16);
            // await _context.ArcAsync(loc.X, loc.Y, 3, 0, 2 * Math.PI);
            await _context.StrokeAsync();
        }
    }
    
    /// <summary>
    ///     Helper method that allow images to be rotated based on the client key input direction
    /// </summary>
    /// <param name="image"></param>
    /// <param name="x"></param>
    /// <param name="y"></param>
    /// <param name="height"></param>
    /// <param name="width"></param>
    /// <param name="angle"></param>
    private async Task DrawRotatedImage(ElementReference image, double x, double y, double height, double width, float angle)
    {
        await _context.SaveAsync();
        await _context.TranslateAsync(x, y);
        await _context.RotateAsync(angle);
        await _context.DrawImageAsync(image, -width / 2, -width / 2, width, height);
        await _context.RestoreAsync();
    }
} 