@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Diagnostics
@using System.Drawing
@using System.Reflection.Metadata.Ecma335
@using GUI.Components.Models;
@inject IJSRuntime JsRuntime;

<PageTitle> Snake</PageTitle>

<img @ref="_backgroundImage" id="bgImage" src="/images/images/Moon.png" alt="image" style="display:none;"/>
<img @ref="_wallImage" id="wallImage" src="/images/images/Walls.png" alt="walling" style="display:none;"/>
<img @ref="_powerupImage" id="puImage" src="/images/images/PowerUp.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead1" id="head1Image" src="/images/images/SnakeHead1.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail1" id="Tail1Image" src="/images/images/SnakeTail1.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead2" id="head2Image" src="/images/images/SnakeHead2.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail2" id="Tail2Image" src="/images/images/SnakeTail2.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead3" id="head3Image" src="/images/images/SnakeHead3.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail3" id="Tail3Image" src="/images/images/SnakeTail3.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead4" id="head4Image" src="/images/images/SnakeHead4.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail4" id="Tail4Image" src="/images/images/SnakeTail4.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead5" id="head5Image" src="/images/images/SnakeHead5.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail5" id="Tail5Image" src="/images/images/SnakeTail5.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead6" id="head6Image" src="/images/images/SnakeHead6.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail6" id="Tail6Image" src="/images/images/SnakeTail6.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead7" id="head7Image" src="/images/images/SnakeHead7.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail7" id="Tail7Image" src="/images/images/SnakeTail7.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead8" id="head8Image" src="/images/images/SnakeHead8.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail8" id="Tail8Image" src="/images/images/SnakeTail8.png" alt="image" style="display:none;"/>
<img @ref="_canvasSpaceImg" id="Space" src="/images/images/Space.png" alt="image" style="display:none;"/>

<audio id="deathSound" src="wwwroot/Audio/DeathAudio.mp3"></audio>


<div id="ConnectionInputs">
    <label> Name: </label>
    <input disabled="@IsDisableInput()" @bind="_name"/>
    <label> Server Address </label>
    <input disabled="@IsDisableInput()" type="text" @bind="_serverAddress"/>
    <label> Port </label>
    <input disabled="@IsDisableInput()" type="number" @bind="_port"/>
    @if (IsConnectedToServer())
    {
        <button @onclick="DisconnectFromServer"> Disconnect</button>
    }
    else
    {
        <button @onclick="ConnectToServer"> Connect</button>
    }
</div>
<div>
    @if (IsError)
    {
        <div class="centered-card text-center">
            <span>connection error</span>
            <br/>
            <button class="btn btn-danger" @onclick="DismissError">OK</button>
        </div>
    }
</div>


<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="2000" Height="1000" @ref="_canvasReference"></BECanvas>
</div>

@code
{
    private BECanvasComponent? _canvasReference;
    private Canvas2DContext _context = null!;
    private IJSObjectReference? _jsModule;

    /// <summary>
    ///     Images References
    /// </summary>
    private ElementReference _backgroundImage;
    private ElementReference _powerupImage;
    private ElementReference _snakeHead1;
    private ElementReference _snakeTail1;
    private ElementReference _snakeHead2;
    private ElementReference _snakeTail2;
    private ElementReference _snakeHead3;
    private ElementReference _snakeTail3;
    private ElementReference _snakeHead4;
    private ElementReference _snakeTail4;
    private ElementReference _snakeHead5;
    private ElementReference _snakeTail5;
    private ElementReference _snakeHead6;
    private ElementReference _snakeTail6;
    private ElementReference _snakeTail7;
    private ElementReference _snakeHead7;
    private ElementReference _snakeTail8;
    private ElementReference _snakeHead8;
    private ElementReference _wallImage;
    private ElementReference _canvasSpaceImg;

    /// <summary>
    ///     View Width and Height from client
    /// </summary>
    private const int ViewWidth = 1000;
    private const int ViewHeight = 1000;
    
    /// <summary>
    ///     Copy of the World when created
    /// </summary>
    private World _copyWorld = new World();
    
    /// <summary>
    ///     Client Snake ID 
    /// </summary>
    private int _snakeId;

    /// <summary>
    ///     Initialized the canvas and starts the game loop when finish
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/SnakeGUI.razor.js");
            _context = await _canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));

            // await _context.SetFillStyleAsync("lightblue");
            //await _context.FillRectAsync(0, 0, 1000, 1000);
            await Task.Delay(500);
            await _context.DrawImageAsync(_canvasSpaceImg, 0, 0, 1000, 1000);
            GameLoop();
        }
    }

    /// <summary>
    ///     Handles all the Key Press and send them to the Network Controller
    /// </summary>
    /// <param name="key"></param>
    [JSInvokable]
    public void HandleKeyPress(string key)
    {
        SendKeyCmd(key);
    }

    /// <summary>
    ///     Runs the main game loop asynchronously
    /// </summary>
    private async void GameLoop()
    {
        while (true)
        {
            await Task.Delay(20);
            await DrawFrame();
        }
    }

    /// <summary>
    ///     Draws a single frame of the game
    ///     -Draws background, Walls, Snakes, and Powerups
    ///     -Centers the View
    /// </summary>
    private async Task DrawFrame()
    {
        World newWorld = ReceiveWorld();
        _copyWorld = newWorld;
        
        await _context.BeginBatchAsync();

        await _context.ClearRectAsync(0, 0, ViewWidth, ViewHeight);
        await _context.DrawImageAsync(_canvasSpaceImg, 0, 0, 1000, 1000);
        await _context.SaveAsync();
        await _context.BeginPathAsync();
        await _context.RectAsync(0, 0, ViewWidth, ViewHeight);
        await _context.ClipAsync();

        await _context.TranslateAsync(ViewWidth / 2, ViewHeight / 2);
        await _context.ScaleAsync(1.5, 1.5);
        _snakeId = GetPlayerId();
        if (_copyWorld.Player.TryGetValue(_snakeId, out Player? player))
        {
            if (player.Body.Count > 0)
            {
                if (!player.Dc && player.Alive && player.Body.Count > 0)
                {
                    int snakeHeadIndex = player.Body.Count - 1;
                    Point2D head = player.Body[snakeHeadIndex];
                    await _context.TranslateAsync(-head.X, -head.Y);
                }
            }
        }

        await _context.DrawImageAsync(_backgroundImage, -_copyWorld.Size / 2, -_copyWorld.Size / 2, _copyWorld.Size, _copyWorld.Size);
        if (IsConnectedToServer())
        {
            await DrawWall();
            await DrawPlayer();
            await DrawPowerUps();
        }
        
        await _context.RestoreAsync();
        await _context.EndBatchAsync();
        
        StateHasChanged();
    }

    /// <summary>
    ///     Draws all the Walls
    ///     - Vertical Walls
    ///     - Horizontal Walls
    /// </summary>
    private async Task DrawWall()
    {
        foreach (Walls wall in _copyWorld.Walls.Values)
        {
            await _context.BeginPathAsync();
            if (wall.P1.X == wall.P2.X)
            {
                int start = Math.Min(wall.P1.Y, wall.P2.Y);
                int end = Math.Max(wall.P1.Y, wall.P2.Y);

                for (int i = start; i <= end; i += 50)
                {
                    await _context.DrawImageAsync(_wallImage, wall.P1.X - 25, i - 25, 50, 50);
                }
            }

            if (wall.P1.Y == wall.P2.Y)
            {
                int start = Math.Min(wall.P1.X, wall.P2.X);
                int end = Math.Max(wall.P1.X, wall.P2.X);
                
                for (int i = start; i <= end; i += 50)
                {
                    await _context.DrawImageAsync(_wallImage, i - 25, wall.P1.Y - 25, 50, 50);
                }
            }
        }
    }

    /// <summary>
    ///     Draws the players
    ///     - Images with rotating heads and tail
    /// </summary>
    private async Task DrawPlayer()
    {
      
        foreach (Player p in _copyWorld.Player.Values)
        {
            if (p.Dc)
            {
                continue;
            }

            if (p.Alive)
            

            {
                    await _context.SetLineWidthAsync(10);

                    int coloriD = p.SnakeiD % 8;
                    int headiD = p.SnakeiD % 8;
                    int tailiD = p.SnakeiD % 8;

                    await ColorPicker(coloriD);
                    var headImage = HeadPicker(headiD);
                    var tailImage = TailPicker(tailiD);

                    await _context.BeginPathAsync();


                    if (p.Body.Count == 0)
                    {
                        continue;
                    }

                    Point2D tail = p.Body[0];
                    Point2D head = p.Body[p.Body.Count - 1];
                    Point2D direction = p.Dir;
                    if (direction.Y == -1) //up
                    {
                        await DrawRotatedImage(tailImage, tail.X, tail.Y + 5, 20, 10, 0);
                        await DrawRotatedImage(headImage, head.X, head.Y - 10, 20, 20, 0);
                    }
                    else if (direction.Y == 1) //Down
                    {
                        await DrawRotatedImage(tailImage, tail.X, tail.Y - 5, 20, 10, (float)Math.PI);
                        await DrawRotatedImage(headImage, head.X, head.Y + 10, 20, 20, (float)Math.PI);
                    }
                    else if (direction.X == -1) //left
                    {
                        await DrawRotatedImage(tailImage, tail.X + 5, tail.Y, 20, 10, (float)-Math.PI / 2);
                        await DrawRotatedImage(headImage, head.X - 10, head.Y, 20, 20, (float)-Math.PI / 2);
                    }
                    else if (direction.X == 1) //right
                    {
                        await DrawRotatedImage(tailImage, tail.X - 5, tail.Y, 20, 10, (float)Math.PI / 2);
                        await DrawRotatedImage(headImage, head.X + 10, head.Y, 20, 20, (float)Math.PI / 2);
                    }
                    else await _context.MoveToAsync(tail.X, tail.Y);

                    foreach (Point2D point in p.Body)
                    {
                        await _context.LineToAsync(point.X, point.Y);
                    }

                    await _context.SetFontAsync("16px Arial");
                    await _context.SetFillStyleAsync("Black"); // choose text color
                    await _context.FillTextAsync($"{p.Name}: {p.Score}", head.X + 10, head.Y - 10);
                    await _context.StrokeAsync();
                }
                else
                {
                    if (p.SnakeiD == _snakeId)
                    {
                        await _context.SetFontAsync("50px Arial");
                        await _context.SetFillStyleAsync("Red"); // choose text color

                        Point2D head = p.Body[p.Body.Count - 1];
                        await _context.FillTextAsync($"You Died ", head.X - 100, head.Y);
                        await _context.FillTextAsync($"Score : {p.Score}", head.X - 100, head.Y + 60);
                        await _context.StrokeAsync();
                    }
                }
            
            
        }

      
    }

    /// <summary>
    ///     Draws the PowerUps
    /// </summary>
    private async Task DrawPowerUps()
    {
        foreach (PowerUp p in _copyWorld.PowerUp.Values)
        {
            Point2D loc = p.Location;

            if (p.Died)
            {
                continue;
            }

            await _context.SetLineWidthAsync(5);
            await _context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )");
            await _context.BeginPathAsync();
            await _context.DrawImageAsync(_powerupImage, loc.X - 7, loc.Y - 10, 16, 20);
            //await _context.ArcAsync(loc.X, loc.Y, 3, 0, 2 * Math.PI);
            await _context.StrokeAsync();
        }
    }

    /// <summary>
    ///     Helper method that allow images to be rotated based on the client key input direction
    /// </summary>
    /// <param name="image"></param>
    /// <param name="x"></param>
    /// <param name="y"></param>
    /// <param name="height"></param>
    /// <param name="width"></param>
    /// <param name="angle"></param>
    private async Task DrawRotatedImage(ElementReference image, double x, double y, double height, double width, float angle)
    {
        await _context.SaveAsync();
        await _context.TranslateAsync(x, y);
        await _context.RotateAsync(angle);
        await _context.DrawImageAsync(image, -width / 2, -width / 2, width, height);
        await _context.RestoreAsync();
    }

    /// <summary>
    ///     Helper method that help changes the color of the snakes body using their ID
    /// </summary>
    /// <param name="id"></param>
    private async Task ColorPicker(int id)
    {
        switch (id)
        {
            case 0: await _context.SetStrokeStyleAsync($"rgb( 34, 177, 76 )"); break;
            case 1: await _context.SetStrokeStyleAsync($"rgb( 0, 0, 0 )"); break;
            case 2: await _context.SetStrokeStyleAsync($"rgb( 180, 180, 180 )"); break;
            case 3: await _context.SetStrokeStyleAsync($"rgb( 255, 194, 14 )"); break;
            case 4: await _context.SetStrokeStyleAsync($"rgb( 196, 139, 149 )"); break;
            case 5: await _context.SetStrokeStyleAsync($"rgb( 237, 28, 36 )"); break;
            case 6: await _context.SetStrokeStyleAsync($"rgb( 0, 183, 239 )"); break;
            case 7: await _context.SetStrokeStyleAsync($"rgb( 111, 49,152 )"); break;
        }
    }

    /// <summary>
    ///     Helper method that help decided which image of SnakeHead should be displayed based on SnakeID
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private ElementReference HeadPicker(int id)
    {
        switch (id)
        {
            case 0: return _snakeHead1;
            case 1: return _snakeHead2;
            case 2: return _snakeHead3;
            case 3: return _snakeHead4;
            case 4: return _snakeHead5;
            case 5: return _snakeHead6;
            case 6: return _snakeHead7;
            case 7: return _snakeHead8;
            default: return _snakeHead1;
        } 
    }

    /// <summary>
    ///     Helper method that help decided which image of SnakeTail should be displayed based on SnakeID
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private ElementReference TailPicker(int id)
    {
        switch (id)
        {
            case 0: return _snakeTail1;
            case 1: return _snakeTail2;
            case 2: return _snakeTail3;
            case 3: return _snakeTail4;
            case 4: return _snakeTail5;
            case 5: return _snakeTail6;
            case 6: return _snakeTail7;
            case 7: return _snakeTail8;
            default: return _snakeTail1;
        }
    }
} 