@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Diagnostics
@using GUI.Components.Models;
@inject IJSRuntime JsRuntime;

<PageTitle> Snake</PageTitle>

<img @ref="_backgroundImage" id="bgImage" src="/images/images/Grass.png" alt="image" style="display:none;"/>
<img @ref="_wallImage" id="wallImage" src="/images/images/Wall.png" alt="walling"style="display:none;"/>
<img @ref="_powerupImage" id="puImage" src="/images/images/laoganma.png" alt="image" style="display:none;"/>
<img @ref="_snakeHead1" id="head1Image" src="/images/images/backupsnake_head.png" alt="image" style="display:none;"/>
<img @ref="_snakeTail1" id="Tail1Image" src="/images/images/guy1legs.png" alt="image" style="display:none;"/>
<img @ref="_snakeBody1" id="Body1Image" src="/images/images/guy1body.png" alt="image" style="display:none;"/>

<div id="ConnectionInputs">
    <label> Name: </label>
    <input disabled="@IsDisableInput()" @bind="_name"/>
    <label> Server Address </label>
    <input disabled="@IsDisableInput()" type="text" @bind="_serverAddress"/>
    <label> Port </label>
    <input disabled="@IsDisableInput()" type="number" @bind="_port"/>
    @if (IsConnectedToServer())
    {
        <button @onclick="DisconnectFromServer"> Disconnect</button>
    }
    else
    {
        <button @onclick="ConnectToServer"> Connect</button>
    }
</div>



<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="2000" Height="1000" @ref="_canvasReference"></BECanvas>
</div>

@code
{
    private BECanvasComponent? _canvasReference;
    private Canvas2DContext _context = null!;
    private IJSObjectReference? _jsModule;

    private ElementReference _backgroundImage;
    private ElementReference _powerupImage;
    private ElementReference _snakeHead1;
    private ElementReference _snakeBody1;
    private ElementReference _snakeTail1;
    private ElementReference _wallImage;
    private const int ViewWidth = 1000;
    private const int ViewHeight = 1000;
    private World _copyWorld = new World();
    private int _snakeId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/SnakeGUI.razor.js");
            _context = await _canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));

            // in the meantime, draw something to initialize the canvas
            // you may want to remove this after you are drawing something
            await _context.SetFillStyleAsync("lightblue");
            await _context.FillRectAsync(0, 0, 1000, 1000);
            await Task.Delay(200);
            GameLoop();
        }
    }

    [JSInvokable]
    public void HandleKeyPress(string key)
    {
        SendKeyCmd(key);
    }

    private async void GameLoop()
    {
        while (true)
        {
            Thread.Sleep(20);
            await DrawFrame();
        }
    }

    private async Task DrawFrame()
    {
        World newWorld = ReceiveWorld();
        lock (_copyWorld)
        {
            _copyWorld = newWorld;
        }

        await _context.BeginBatchAsync();
        await _context.ClearRectAsync(0, 0, ViewWidth, ViewHeight);
        await _context.SetFillStyleAsync("lightblue");
        await _context.FillRectAsync(0, 0, 1000, 1000);
        await _context.SaveAsync();
        await _context.BeginPathAsync();
        await _context.RectAsync(0, 0, ViewWidth, ViewHeight);
        await _context.ClipAsync();
        
        await _context.TranslateAsync(ViewWidth / 2, ViewHeight / 2);
        _snakeId = GetPlayerId();
        if (_copyWorld.Player.TryGetValue(_snakeId, out Player? player))
        {
            if (player.Body.Count > 0)
            {
                int snakeHeadIndex = player.Body.Count - 1;
                Point2D head = player.Body[snakeHeadIndex];
                await _context.TranslateAsync(-head.X, -head.Y);
            }
        }

        await _context.DrawImageAsync(_backgroundImage, -_copyWorld.Size / 2, -_copyWorld.Size / 2, _copyWorld.Size, _copyWorld.Size);
        await DrawWall();
        await DrawPlayer();
        await DrawPowerUps();

        await _context.RestoreAsync();
        await _context.EndBatchAsync();

        StateHasChanged();
    }

    private async Task DrawWall()
    {
        foreach (Walls wall in _copyWorld.Walls.Values)
        {
            await _context.BeginPathAsync();
            if (wall.P1.X == wall.P2.X) //vertical wall
            {
                int start = Math.Min(wall.P1.Y, wall.P2.Y);
                int end = Math.Max(wall.P1.Y, wall.P2.Y);
                int extra = (end - start) % 50;

                for (int i = start; i <= end + extra; i += 50)
                {
                    await _context.DrawImageAsync(_wallImage, wall.P1.X - 25, i - 25, 50, 50);
                }
            }

            if (wall.P1.Y == wall.P2.Y) //horizontal wall
            {
                int start = Math.Min(wall.P1.X, wall.P2.X);
                int end = Math.Max(wall.P1.X, wall.P2.X);
                int extra = (end - start) % 50;

                for (int i = start; i <= end + extra; i += 50)
                {
                    await _context.DrawImageAsync(_wallImage, i - 25, wall.P1.Y - 25, 50, 50);
                }
            }
        }
    }

    private async Task DrawPlayer()
    {
        foreach (Player p in _copyWorld.Player.Values)
        {
            await _context.SetLineWidthAsync(10);

            int color = p.SnakeiD % 8;
            switch (color)
            {
                case 0: await _context.SetStrokeStyleAsync($"rgb( 255, 0, 0 )"); break;
                case 1: await _context.SetStrokeStyleAsync($"rgb( 0, 255, 0 )"); break;
                case 2: await _context.SetStrokeStyleAsync($"rgb( 0, 0, 255 )"); break;
                case 3: await _context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )"); break;
                case 4: await _context.SetStrokeStyleAsync($"rgb( 0, 255, 255 )"); break;
                case 5: await _context.SetStrokeStyleAsync($"rgb( 255, 0, 255 )"); break;
                case 6: await _context.SetStrokeStyleAsync($"rgb( 255, 255, 255 )"); break;
                case 7: await _context.SetStrokeStyleAsync($"rgb( 0, 0, 0 )"); break;
            }
            await _context.BeginPathAsync();

            // for (int i = 0; i < p.Body.Count; i++)
            // {
            //     Point2D point = p.Body[i];
            //     await _context.ArcAsync(point.X, point.Y, 700, 0, 2 * Math.PI);
            //     if (i == 0)
            //     {
            //         await _context.DrawImageAsync(_snakeTail1, point.X, point.Y, 10, 10);
            //     }
            //     else if (i == p.Body.Count - 1)
            //     {
            //         await _context.DrawImageAsync(_snakeHead1, point.X, point.Y, 10, 10);
            //     }
            //     else
            //     {
            //         await _context.DrawImageAsync(_snakeBody1, point.X, point.Y, 10, 10);
            //     }
            // }

            Point2D start = p.Body[0];
            await _context.MoveToAsync(start.X, start.Y);

            foreach (Point2D point in p.Body)
            {
                await _context.LineToAsync(point.X, point.Y);
            }

            await _context.StrokeAsync();
        }
    }

    private async Task DrawPowerUps()
    {
        foreach (PowerUp p in _copyWorld.PowerUp.Values)
        {
            Point2D loc = p.Location;

            if (p.Died)
            {
                continue;
            }

            // smaller yellow circle for powerups
            await _context.SetLineWidthAsync(5);
            await _context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )");
            await _context.BeginPathAsync();
            // await _context.DrawImageAsync(_powerupImage, loc.X, loc.Y, 16, 16 );
            await _context.ArcAsync(loc.X, loc.Y, 3, 0, 2 * Math.PI);
            await _context.StrokeAsync();
        }
    }
} 