@page "/snake"
@rendermode InteractiveServer
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Diagnostics
@using GUI.Components.Models;
@inject IJSRuntime JsRuntime;

<PageTitle> Snake</PageTitle>

<img @ref="_backgroundImage" id="bgImage" src="/images/images/Background.jpg" alt="image" style="display:none;"/>\
<img @ref="_powerupImage" id="puImage" src="/images/images/laoganma.png" alt="image" style="display:none;"/>\
<img @ref="_snakeHead1" id="head1Image" src="/images/images/jbhead1.png" alt="image" style="display:none;"/>
<img @ref="_wallImage" id="wallImage" src="/images/images/Background_brick_wall.jpg" alt="wallimg"
     style="display:none;"/>

<div id="ConnectionInputs">
    <label> Name: </label>
    <input disabled="@DisableInput()" @bind="_name"/>
    <label> Server Address </label>
    <input disabled="@DisableInput()" type="text" @bind="_serverAddress"/>
    <label> Port </label>
    <input disabled="@DisableInput()" type="number" @bind="_port"/>
    @if (IsConnectedToServer())
    {
        <button @onclick="DisconnectFromServer"> Disconnect</button>
    }
    else
    {
        <button @onclick="ConnectToServer"> Connect</button>
    }
</div>



<div id="snakeCanvas" style="position: fixed; width: 100%; height: 100%">
    <BECanvas Width="1000" Height="1000" @ref="_canvasReference"></BECanvas>
</div>

@code
{
    private BECanvasComponent? _canvasReference;
    private Canvas2DContext _context = null!;
    private IJSObjectReference? _jsModule;
    private ElementReference _backgroundImage;
    private ElementReference _powerupImage;
    private ElementReference _snakeHead1;
    private ElementReference _wallImage;
    private const int ViewWidth = 1000;
    private const int ViewHeight = 1000;
    private World _copyWorld = new World();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/SnakeGUI.razor.js");
            _context = await _canvasReference.CreateCanvas2DAsync();
            await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));


            //You get info from model, and you update based on what the model says. 
            //YOu call from the model you update every before you start drawing so everything is already set by the Network Controller so it not empty

            // in the meantime, draw something to initialize the canvas
            // you may want to remove this after you are drawing something
            await _context.SetFillStyleAsync("lightblue");
            await _context.FillRectAsync(0, 0, 1000, 1000);
            GameLoop();
        }
    }


    [JSInvokable]
    public void HandleKeyPress(string key)
    {
        SendKeyCmd(key);
        Debug.WriteLine("key pressed: " + key);
    }

    private async void GameLoop()
    {
        while (true)
        {
            Thread.Sleep(20);
            await DrawFrame();
        }
    }

    private async Task DrawFrame()
    {
        lock (_copyWorld)
        {
            _copyWorld = RecieveWorld();
        }

        await _context.BeginBatchAsync();
        await _context.BeginPathAsync();
        await _context.RectAsync(0, 0, ViewWidth, ViewHeight);
        await _context.ClipAsync();

        await _context.SaveAsync();

        await _context.TranslateAsync(ViewWidth / 2, ViewHeight / 2);
        // await _context.TranslateAsync( -head.X, -head.Y );


        await _context.DrawImageAsync(_backgroundImage, -_copyWorld.Size / 2, -_copyWorld.Size / 2, _copyWorld.Size, _copyWorld.Size);

        foreach (Walls w in _copyWorld.Walls.Values)
        {
            await _context.BeginPathAsync();
            //await _context.ArcAsync( point.X, point.Y, 700, 0, 2 * Math.PI );
            await _context.DrawImageAsync(_wallImage, w.P1.X, w.P1.Y, 100, 100);
            await _context.DrawImageAsync(_wallImage, w.P2.X, w.P2.Y, 100, 100);
        }

        foreach (Player p in _copyWorld.Player.Values)
        {
            await _context.SetLineWidthAsync(5);


            if (p.SnakeiD % 2 == 0)
                await _context.SetStrokeStyleAsync($"rgb( 255, 0, 0 )");
            else
                await _context.SetStrokeStyleAsync($"rgb( 0, 0, 255 )");

            foreach (Point2D point in p.Body)
            {
                await _context.BeginPathAsync();
                //await _context.ArcAsync( point.X, point.Y, 700, 0, 2 * Math.PI );
                await _context.DrawImageAsync(_snakeHead1, point.X, point.Y, 100, 100);
            }
        }

        foreach (PowerUp p in _copyWorld.PowerUp.Values)
        {
            Point2D loc = p.Location;

            // smaller yellow circle for powerups
            await _context.SetLineWidthAsync(5);
            await _context.SetStrokeStyleAsync($"rgb( 255, 255, 0 )");
            await _context.BeginPathAsync();
            // await _context.DrawImageAsync(_powerupImage, loc.X, loc.Y, 16, 16 );
            await _context.ArcAsync(loc.X, loc.Y, 3, 0, 2 * Math.PI);
            await _context.StrokeAsync();
        }

        await _context.RestoreAsync();
        await _context.EndBatchAsync();
        StateHasChanged();
    }

} 